@font-face 
	font-family: 'Rubik-Regular' 
	src: url('../fonts/Rubik-Regular.ttf') format('truetype'),url('../fonts/Rubik-Regular.woff') format('woff'),url('../fonts/Rubik-Regular.eot') format('eot') 
	font-weight: 900 
	font-style: normal 


// BASE STYLES//
body
	font-family: Rubik-Regular

ul 
	
	list-style-type: none
	li 
		a
			text-decoration: none


// HEADER STYLES//
header
	background-image: url('../img/bg.jpg')
	