@font-face 
	font-family: 'Rubik-Regular' 
	src: url('/fonts/Rubik-regular.ttf') format('truetype'),url('/fonts/Rubik-Regular.woff') format('woff'),url('/fonts/Rubik-Regular.eot') format('eot') 
	font-weight: 900 
	font-style: normal 

// BASE STYLES//
*
	margin: 0
	padding: 0

body
	font-family: Rubik-Regular sans-serif
h1 
	font-size: 72px
	padding: 40px 0 20px 0 

ul 
	
	list-style-type: none
	li 
		display: inline
		a
			text-decoration: none

.wrapper 
    background-color: white
    margin-left: auto
    margin-right: auto


// HEADER STYLES//

.bg
	max-width: 100%
	background-image: url('https://raw.githubusercontent.com/yanedilkoatunet/seaAdventures/master/src/img/bg.jpg')
	background-size: cover
.container
	max-width: 1385px 
	padding: 20px 200px 20px 200px

.menu-wrapper
	display: flex

.logo
	padding: 0 380px 0 0
	.logo_img
		width: 117px
		height: 40px

.nav-wrapper
	display: flex

.menu-row
	font-size: 14px
	padding: 10px 0 0 0
.menu-row-item
	margin: 0 20px 0 20px
	
.menu-row-link
	color: white
	&:hover
		color: #FFB000
				
.top 
	text-align: center
	margin: 130px 0 0 0
	color: white
	
.top-bg
	background-image: url(https://raw.githubusercontent.com/yanedilkoatunet/seaAdventures/master/src/img/square.png)
	background-repeat: no-repeat
	background-position-x: 50%
	

	
